.modelsList {
    min-height: 60px;
    margin: 12px 0px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #393a3b;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

/*
    .modelGroups {
    }
*/
